<%= render 'layouts/header' %> 
<div class="jumbotron" style="height:300px;background-image:url(https://static.pexels.com/photos/195280/pexels-photo-195280.jpeg);">
  <h1 style="font-size: 3em;"><%= @election.name %></h1>      
  <p style="color:rgba(255, 255, 255, 0.82);font-size: 1.3em;">Les votes débutent le <%= @election.begin %> et ferment le <%= @election.end %></p>
</div>


<div class="container" >
    <p class="h2" style="margin:20px 0px">Candidats</p>

    <div class="row" style="border-top:1px solid grey">
        <div class="col-sm-12">
        <% @election.candidats.each do |candidat| %>
        <%#<%= debug candidat %>
        <div class="card" style="float:left;width:40%;margin:5%;">
            <div class="card-block" >
                <div class="card-title"><p class="h4"><%= candidat.user.surname %><span class="h6" style="margin-left:15px;"><%= candidat.user.name %></span></p></div>
                <h6 class="card-subtitle mb-2 text-muted" style="margin-top:15px"><%= candidat.partie %></h6>
                <p class="card-text">
                    <%= truncate(candidat.description, :length => 20)  %>
                    
                </p>
                <a href="/elections/<%= @election.id %>/candidats/<%= candidat.id %>" class="card-link">Voir le candidat</a>
                <div class="card-img" >
                   <div class="img" style="background-image : url(<%= candidat.user.picture %>) "></div>
                </div>
            </div>
        </div>
        <% end %>
        </div>
    </div>
</div>