/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap";



.front-nav {
    background: #192e43 !important;
}
 .jumbotron {
    background-image: url(https://static.pexels.com/photos/167699/pexels-photo-167699.jpeg);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 55px;
    border-radius: 0;
    margin-bottom: 0;

    h1 {
        font-size: 4.5em;
        color : white;
    }

    p {
        font-size: 2em;
        color: rgba(42, 68, 91, 0.75);
    }

}

.color-white {
    color: #FFF;
}


.pagecenter > ul {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}